body{
    background-color: rgb(183, 183, 248);
    text-align: center;
}
.button-box{
    margin: 10px;
}
.container{
    background-color: aqua;
    color: black;
    margin-top: 100px;
    width: fit-content;
    padding: 20px;
    margin-inline: auto;
}
.input-type-value{
    background-color: azure;
    width: 120px;
    height: 20px;
}
.button-box{
    display: flex;
    column-gap: 10px;
    margin-inline:auto ;
    padding-left: 30px;
}
.colorBox{
    background-color: rgb(0,0,0);
    width :200px;
    height: 100px;
    margin-inline: auto;
    margin-bottom: 10px;
}

