body{
    margin: 0;
    padding: 0;

}

.box {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 10px; /* Adjust padding to fit within the box size */
    margin: 10px;
    border-radius: 5px; /* Optional: Rounded corners */
    transition: transform 0.2s ease; /* Smooth hover effect */
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}
.color-code{
    background-color: aliceblue;
}
.copy-btn{
    border-radius: 3px;
    background-color:aqua ;
    container-name: "copy";
    margin-top: 20px;
}